*

# terminal
!/alacritty/
!/alacritty/**
!/tmux/
!/tmux/**
!/tmux-themes/
!/tmux-themes/**

# neovim
!/nvim/
!/nvim/**

# theme
!/theme/
!/theme/**
!/scripts/
!/scripts/**

# wm
!/hypr/
!/hypr/**
!/dunst/
!/dunst/**
!/wofi/
!/wofi/**
!/swhkd/
!/swhkd/**

# shell
!/zsh/
!/zsh/**
