/* gruvbox dark */

window {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 13px;
}

#outer-box {
  margin: 0px;
  padding: 4px;
  border: 2px solid #d79921;
  background-color: #1d2021;
}

#input {
  margin: 0px 0px 2px 0px;
  padding: 2px 6px;
  border: none;
  background-color: transparent;
  color: #fabd2f;
  caret-color: #fabd2f;
  font-weight: bold;
}

#input:focus {
  outline: none;
  box-shadow: none;
}

#scroll {
  margin: 0px;
  border: none;
}

#inner-box {
  margin: 0px;
  border: none;
  background-color: transparent;
}

#entry {
  padding: 4px 6px;
}

#entry:selected {
  background-color: #d79921;
}

#img {
  margin-right: 10px;
}

#text {
  margin: 0px;
  border: none;
  color: #ebdbb2;
}

#text:selected {
  color: #1d2021;
  font-weight: bold;
}
